@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Helvetica', sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.1;
  max-width: 90vw;
}

@media all and (min-width: 700px) {
  h1 {
    line-height: 1.2;
    max-width: 80vw;
  }
}

@media all and (min-width: 960px) {
  h1 {
    line-height: 1.2;
    max-width: 70vw;
  }
}

h2 {
  font-size: 1.5rem;
  line-height: 1;
  padding-top: 1rem;
  max-width: 90vw;
}

@media all and (min-width: 700px) {
  h2 {
    line-height: 1.2;
    max-width: 80vw;
  }
}

@media all and (min-width: 960px) {
  h2 {
    line-height: 1.3;
    max-width: 70vw;
  }
}

nav {
  position: fixed;
  background: black;
  padding: 0 15px;
  width: 100vw;
  z-index: 100;
  /* Tablet menu */
  /* Desktop menu */
}

nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  width: 90vw;
  margin: auto;
}

nav .menu li a {
  display: block;
  padding: 15px 5px;
  color: white;
  text-decoration: none;
}

nav .logo {
  font-size: 20px;
  color: red;
}

nav .item {
  padding: 10px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 100%;
  text-align: center;
  display: none;
}

nav .active .item {
  display: block;
}

nav .toggle {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  font-size: 20px;
  color: white;
}

@media all and (min-width: 700px) {
  nav .menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav .logo {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  nav .item.button {
    width: auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: block;
  }
  nav .toggle {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: right;
    margin-top: 0;
  }
}

@media all and (min-width: 960px) {
  nav .menu {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  nav .logo {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin: auto;
  }
  nav .item {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    position: relative;
    display: block;
    width: auto;
  }
  nav .button {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  nav .toggle {
    display: none;
  }
}

section {
  height: 100vh;
}

.extraMargin {
  padding-top: 53px;
}

@media all and (min-width: 960px) {
  .extraMargin {
    padding-top: 68px;
  }
}

.firstSection {
  height: 100%;
  background-image: url(./assets/pexels-martin-péchy-1866149.jpg);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 15vh;
  padding-left: 5vw;
}

@media all and (min-width: 700px) {
  .firstSection {
    padding-top: 15vh;
    padding-left: 5vw;
  }
}

@media all and (min-width: 960px) {
  .firstSection {
    padding-top: 15vh;
    padding-left: 15vw;
  }
}

.firstSection button {
  margin: 2rem auto;
  padding: 1rem 1.5rem;
  border-radius: 16px;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1rem;
}

.firstSection button:hover {
  background-color: black;
}

.leftPhoto {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: top;
      justify-self: center;
  background-color: black;
}

.leftPhoto img {
  position: relative;
  display: block;
  height: 50vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 10vh 5vw;
}

@media all and (min-width: 700px) {
  .leftPhoto {
    grid-area: left;
  }
  .leftPhoto img {
    height: 100vh;
  }
}

.descriptionSec2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: bottom;
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50vh;
  padding-left: 10vw;
}

.descriptionSec2 h2 {
  max-width: 95%;
}

@media all and (min-width: 700px) {
  .descriptionSec2 h2 {
    max-width: 80%;
  }
}

.descriptionSec2 p {
  margin-top: 2rem;
  max-width: 95%;
  line-height: 1.2;
}

@media all and (min-width: 700px) {
  .descriptionSec2 p {
    max-width: 80%;
  }
}

.descriptionSec2 button {
  margin: 3rem auto 3rem 0;
  padding: 1rem 1.5rem;
  border-radius: 16px;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  font-size: 1rem;
}

.descriptionSec2 button:hover {
  background-color: white;
  color: black;
}

@media all and (min-width: 700px) {
  .descriptionSec2 {
    grid-area: right;
    padding-left: 0vw;
    padding-right: 10vw;
    height: 100vh;
  }
}

.secondSection {
  max-height: 100%;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "top" "bottom";
}

@media all and (min-width: 700px) {
  .secondSection {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "left right";
  }
}

.thirdSection {
  max-height: 100%;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "top" "bottom";
}

@media all and (min-width: 700px) {
  .thirdSection {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "left right";
  }
}

.rightPhoto {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: bottom;
  -ms-grid-column-align: center;
      justify-self: center;
  background-color: white;
}

.rightPhoto img {
  position: relative;
  display: block;
  height: 50vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 10vh 5vw;
}

@media all and (min-width: 700px) {
  .rightPhoto {
    grid-area: right;
  }
  .rightPhoto img {
    height: 100vh;
  }
}

.descriptionSec3 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: top;
  background-color: white;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50vh;
  padding-left: 10vw;
  padding-top: 5vh;
}

.descriptionSec3 h2 {
  max-width: 95%;
}

@media all and (min-width: 700px) {
  .descriptionSec3 h2 {
    max-width: 80%;
  }
}

.descriptionSec3 p {
  margin-top: 2rem;
  max-width: 95%;
  line-height: 1.2;
}

@media all and (min-width: 700px) {
  .descriptionSec3 p {
    max-width: 80%;
  }
}

@media all and (min-width: 700px) {
  .descriptionSec3 {
    grid-area: left;
    padding-left: 20vw;
    padding-right: 0vw;
    height: 100vh;
  }
}

.fourthSection {
  height: 100%;
  background-image: url(./assets/pexels-pixabay-269252.jpg);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fourthSection .textSec4 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding-top: 30vh;
}

.fourthSection .textSec4 h1 {
  font-size: 2rem;
  max-width: 100%;
  padding: 0 1rem 1.5rem 1rem;
}

@media all and (min-width: 700px) {
  .fourthSection .textSec4 h1 {
    max-width: 100%;
    font-size: 3rem;
  }
}

.fourthSection .textSec4 h2 {
  font-size: 1rem;
  max-width: 100%;
  padding: 0 1rem 1.5rem 1rem;
}

@media all and (min-width: 700px) {
  .fourthSection .textSec4 h2 {
    max-width: 100%;
    font-size: 1.5rem;
  }
}

.fourthSection button {
  margin: 1.5rem auto 3rem 0;
  padding: 1rem 2.5rem;
  border-radius: 16px;
  border: none;
  background-color: black;
  color: white;
  font-size: 1.2rem;
}

.fourthSection button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
/*# sourceMappingURL=style.css.map */